/.externalToolBuilders
.project
*.settings/
.DS_Store
.classpath
/build
/.idea/
/logs/*.log
*target/
*.orig
*~
*.iws
*.iml
*.ipr
patchprocess/
link_report/
linklint-*.zip
linklint/
.checkstyle
**/.checkstyle
.java-version
**/.attach_pid*
*dependency-reduced-pom.xml

